
<%# <% @shuffled_array %>
<div class = "question-show-card">
  <h1 id ="question-show">Fais ton choix</h1>
  <div class = "choice-card", data-controller="autolink">
  <%  @shuffled_array.each do |proposal| %>
    <% if proposal.class == Proposal %>
        <% if proposal.user_id == current_user.id %>
          <% proposal %>
        <% else %>
          <li>
          <%# <% if QUOI ? (@game.votes.count < @game.game_users.count + 1 : PAS OK) %>
            <%= simple_form_for [proposal,Vote.new] do |f| %>
              <div class="d-none">
                  <%= f.input :question_id, input_html: {value: @question.id} %>
                  <%= f.input :proposal_id, input_html: {value: proposal.id} %>
              </div>
              <%= proposal.proposal %>
              <%= f.submit 'Valider' %>
            <% end %>
          <%# <% else %>
            <%# <%= proposal.proposal %>
            <%# <% proposal.votes.each do |vote|%>
              <%# <li><%=Avatar.where(user_id: vote.user_id).last.name %>
              <%# a voté pour cette proposition</li> %>
            <%# <% end %>
          <%# <% end %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%# <% if QUOI ? (@game.votes.count < @game.game_users.count + 1 : PAS OK)%>
          <%= simple_form_for [@game, @question,Vote.new] do |f| %>
            <div class="d-none">
              <%= f.input :question_id, input_html: {value: @question.id} %>
            </div>
            <%= proposal.reponse %>
            <%= f.submit 'Valider' %>
          <% end %>
        <%# <% else %>
          <%# <%= proposal.reponse %>
          <%# <% proposal.votes.each do |vote|%>
          <%# <ul> %>
            <%# <li><%=Avatar.where(user_id: vote.user_id).last.name %>
            <%# a trouvé la bonne réponse</li> %>
          <%# </ul> %>
          <%# <% end %>
        <%# <% end %>
      </li>
    <% end %>
  <% end %>
  <%# <div data-controller="autolink">
    <%=link_to 'Accéder aux scores', game_path(@game, question: @index), data: {autolink_target:"link" }, class: "d-none" %>
  <%# </ul> %>
  </div>
</div>

<%=link_to 'Accéder aux scores', game_path(@game, question: @index) %>
