
<%= turbo_stream_from "reload" %>


<div id="reload">
</div>

<% if params[:answer] == "true" %>
  <div class = "question-show-card">
    <h1 id ="question-show">Who got who ?</h1>
    <div>
      <% @shuffled_array.each do |proposal| %>
        <div>
          <% if proposal.class == Proposal %>
            <% if proposal.user_id == current_user.id %>
              <% proposal %>
            <% else %>
            <div class = "choice-card">
              <%= proposal.proposal %>
            </div>
              <% proposal.votes.each do |vote|%>
                <%=Avatar.where(user_id: vote.user_id).last.color %>
              <% end %>
            <% end %>
        </div>
          <% else %>
            <div class = "choice-card">
              <%= proposal.reponse%>
            </div>
            C'était la bonne réponse !
            <% proposal.votes.each do |vote|%>
              <%=Avatar.where(user_id: vote.user_id).last.color %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div data-controller="autolink">
      <%=link_to 'Accéder aux scores', game_path(@game, question: @index), data: {autolink_target:"link"}, class: "d-none"%>
      </div>
  </div>

<% else %>
<div class = "question-show-card">
    <h1 id ="question-show">Fais ton choix</h1>
    <div data-controller="autolink">
      <%  @shuffled_array.each do |proposal| %>
        <div>
          <% if proposal.class == Proposal %>
            <% if proposal.user_id == current_user.id %>
              <% proposal %>
            <% else %>
                <%= simple_form_for [proposal,Vote.new], data: {controller: "vote-form" } do |f| %>
                  <div class="d-none">
                      <%= f.input :question_id, input_html: {value: @question.id} %>
                      <%= f.input :proposal_id, input_html: {value: proposal.id} %>
                      <%= f.input :game_id, input_html: {value: params[:game_id]} %>
                  </div>
                  <div class = "choice-card">
                    <%= f.button :submit, proposal.proposal, data: {action: 'submit->vote-form#submitForm'}, class: "submit" %>
                  </div>
                <% end %>
            <% end %>
          <% else %>
            <%= simple_form_for [@game, @question,Vote.new], data: {controller:"vote-form"}  do |f| %>
              <div class="d-none">
                  <%= f.input :question_id, input_html: {value: @question.id} %>
              </div>
              <div class = "choice-card">
                <%= f.button :submit, proposal.reponse, data: {action: 'submit->vote-form#submitForm'}, class: "submit" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
