<div class = "container">
  <div class="img-gotcha">
    <%= image_tag "Gotcha.png" %>
  </div>
  <h1> <i>TU N'AURAS BESOIN QUE DE TON IMAGINATION !</i></h1>
  <br>
  <h2>Choisis ton nom :</h2>

  <!-- le simple form du pseudo -->
    <%= simple_form_for(@avatar) do |f| %>
      <%= f.input :name, input_html: { class: "user-input", placeholder:"Ton super pseudo" } %>

      <h2> Choisis ton avatar :</h2>
      <div class="avatar-choice">
        <div class="grid-container">

          <div class="avatar-item">
            <input type="radio" id="avatar1" name="url" value="avatar1">
            <label for="avatar1">
              <%= image_tag "avatars/avatar1.png"%>
            </label>
          </div>

          <div class="avatar-item">
            <input type="radio" id="avatar2" name="url" value="avatar2">
            <label for="avatar2">
              <%= image_tag "avatars/avatar2.png"%>
            </label>
          </div>

          <div class="avatar-item">
            <input type="radio" id="avatar3" name="url" value="avatar3">
            <label for="avatar3">
              <%= image_tag "avatars/avatar3.png"%>
            </label>
          </div>

          <div class="avatar-item">
            <input type="radio" id="avatar4" name="url" value="avatar4">
            <label for="avatar4">
              <%= image_tag "avatars/avatar4.png"%>
            </label>
          </div>

          <div class="avatar-item">
            <input type="radio" id="avatar5" name="url" value="avatar5">
            <label for="avatar5">
              <%= image_tag "avatars/avatar5.png"%>
            </label>
          </div>

          <div class="avatar-item">
            <input type="radio" id="avatar6" name="url" value="avatar6">
            <label for="avatar6">
              <%= image_tag "avatars/avatar6.png"%>
            </label>
          </div>
        </div>
      </div>

      <%= f.button :submit, "Créer une partie privée", class: "button-primary"%>
    <% end %>
  <br>
  <h2>COMMENT JOUER ?</h2>

  <div id="tutorial" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button id="btn-tuto" type="button" data-bs-target="#tutorial" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button id="btn-tuto" type="button" data-bs-target="#tutorial" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button id="btn-tuto" type="button" data-bs-target="#tutorial" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button id="btn-tuto" type="button" data-bs-target="#tutorial" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "carousel/carousel1.png" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "carousel/carousel2.png" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "carousel/carousel3.png" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "carousel/carousel4.png" %>
      </div>
    </div>
    <br>
  </div>
  <br>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "button-primary" %>
  </div>
</div>

</div>
