
  <h1> Vous n'avez besoin que de votre imagination ! </h1>
    <h2>Choix du pseudo</h2>
<!-- -le simple form du pseudo -->
  <%= simple_form_for(@avatar) do |f| %>
    <%= f.input :name %>
    <!-- carroussel avec 6 avatars -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "avatars/avatar1.png", class:"d-block w-50"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "avatars/avatar2.png", class:"d-block w-50"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "avatars/avatar3.png", class:"d-block w-50"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "avatars/avatar4.png", class:"d-block w-50"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "avatars/avatar5.png", class:"d-block w-50"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "avatars/avatar6.png", class:"d-block w-50"%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <%= f.button :submit, "Créer une partie privée"%>
  <% end %>

    <h2>Comment jouer ?</h2>
