<%# 1/ PARTIE PENDING %>
<%= render "shared/game-navbar" %>

<%= turbo_stream_from "avatars" %>
<%= turbo_stream_from "redirect" %>


<% if @game.status == "pending" %>
  <h1>EN ATTENTE DE JOUEURS....</h1>

<div data-controller="clipboard" data-clipboard-success-content-value="Copié !" style="color: #ffffff;">
  <% if @game.user_id == current_user.id %>
    <h2>LIEN D'INVITATION :</h2>
    <div class="game-link">
      <input class="link" data-clipboard-target="source" type="text" value=<%="www.gotyou.fr/avatars/new?game_id=#{@game.id}"%> readonly>
      <%# <button data-action="click->clipboard#copy">Copy to Clipboard</button> %>
      <button class="btn-clipboard" data-clipboard-target="button" data-action="click->clipboard#copy"><i class="fa-regular fa-copy fa-xl" style="color: #ffffff;"></i></button></div>
    </div>
    <%# <div class="link"><%= link_to "www.gotyou.fr/avatars/new?game_id=#{@game.id}", input_html: {class:"invite-link"}, data: {clipboard_target: "source"}%></div>
  <% end %>
</div>

<%# Affichage des joueurs%>
<%= render "avatars" %>

    <div id="redirect">
    </div>

  <%# Bouton lancer la partie pour owner %>
  <% if @game.user_id == current_user.id %>
      <%= button_to "Lancer la partie", game_path(@game, status: "running"),method: :patch, class: "button"%>
  <% end %>
<% end %>
<%# 2/ PARTIE RUNNING %>
<% if @game.status == "running" %>
<%# Titre "Manche xx" terminée ou partie terminée %>
  <% if params[:question] == "4" %>
  <%# firework %>
  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
    <h1>PARTIE TERMINÉE</h1>
  <% else %>
    <div class="container">
    <div class="progress progress-striped">
      <div class="progress-bar">
      </div>
    </div>
  </div>
    <h1>MANCHE <%=params[:question].to_i + 1 %> TERMINÉE</h1>
  <% end %>
  <%# Affichage des scores %>

  <div id="container-player-cards">
    <% @array_of_avatars = @avatars.to_a %>
    <% @array_of_avatars << @owner %>
    <% @sorted_array = @array_of_avatars.sort_by { |avatar| - avatar.score }  %>

        <% @sorted_array.each_with_index do |avatar, index| %>
          <div class="player-card <%= avatar.color %>">
            <% if index == 0 %>
              <svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Mode_Isolation" clip-path="url(#clip0_396_712)">
                <path id="Vector" d="M2.11159 10.9113V18.3819C2.11159 18.8702 2.66004 19.1643 3.07766 18.901L4.93295 17.7249L6.49995 16.731L8.06771 17.7249L9.923 18.901C10.3399 19.1635 10.8883 18.8702 10.8883 18.3819V10.9113H2.11159Z" fill="#F41943"/>
                <path id="Vector_2" d="M4.93299 10.9113V17.7249L6.49999 16.7318L8.06775 17.7249V10.9113H4.93299Z" fill="#EBF2F2"/>
                <path id="Vector_3" d="M2.11163 10.9113V11.8743C2.71484 12.2846 3.70144 12.8434 4.93298 13.139V10.9113H2.11163Z" fill="#C6123D"/>
                <path id="Vector_4" d="M4.93302 10.9113V13.139C5.45028 13.2635 6.0109 13.3407 6.60347 13.3407C7.12073 13.3407 7.61061 13.2807 8.06702 13.1817V10.912H4.93226L4.93302 10.9113Z" fill="#C3DBDA"/>
                <path id="Vector_5" d="M8.06771 10.9113V13.181C9.28175 12.9162 10.26 12.3739 10.8883 11.9449V10.9105H8.06771V10.9113Z" fill="#C6123D"/>
                <path id="Vector_6" d="M6.5 12.8187C2.91015 12.8187 0 9.94912 0 6.40934C0 2.86956 2.91015 0 6.5 0C10.0899 0 13 2.86956 13 6.40934C13 9.94912 10.0899 12.8187 6.5 12.8187Z" fill="#F9B906"/>
                <path id="Vector_7" d="M6.49999 12.2486C3.22942 12.2486 0.578106 9.63431 0.578106 6.40936C0.578106 3.18441 3.22942 0.570068 6.49999 0.570068C9.77056 0.570068 12.4219 3.18441 12.4219 6.40936C12.4219 9.63431 9.77056 12.2486 6.49999 12.2486Z" fill="#E8A615"/>
                <path id="Vector_8" d="M0.940973 6.40936C0.940973 9.43214 3.43448 11.8916 6.50001 11.8916C7.36947 11.8916 8.19252 11.6936 8.92582 11.3418C9.69106 10.9743 10.3582 10.4387 10.8785 9.78467C11.1158 9.48614 11.3227 9.16211 11.4939 8.81783C11.856 8.09102 12.0598 7.27269 12.0598 6.40936C12.0598 5.7688 11.948 5.1545 11.7426 4.58294C11.1242 2.86078 9.65531 1.53241 7.83729 1.08837C7.40902 0.983362 6.96098 0.927856 6.50001 0.927856C5.47462 0.927856 4.51312 1.20313 3.68778 1.68168C3.31962 1.89545 2.97883 2.14972 2.67076 2.4385C2.09036 2.98305 1.62863 3.64986 1.32892 4.39693C1.0779 5.02023 0.940212 5.69905 0.940212 6.40936H0.940973Z" fill="#F9B906"/>
                <path id="Vector_9" d="M3.68778 1.68163L11.4939 8.81704C11.856 8.09022 12.0598 7.2719 12.0598 6.40857C12.0598 5.76801 11.948 5.1537 11.7426 4.58215L7.83729 1.08758C7.40902 0.982568 6.96098 0.927063 6.50001 0.927063C5.47462 0.927063 4.51312 1.20234 3.68778 1.68088V1.68163Z" fill="#FFC943"/>
                <path id="Vector_10" d="M1.32886 4.39691L8.92576 11.341C9.691 10.9735 10.3581 10.438 10.8784 9.7839L2.67069 2.43848C2.0903 2.98303 1.62856 3.64984 1.32886 4.39691Z" fill="#FFC943"/>
                </g>
                <defs>
                <clipPath id="clip0_396_712">
                <rect width="13" height="19" fill="white" transform="matrix(-1 0 0 1 13 0)"/>
                </clipPath>
                </defs>
                </svg>
            <% elsif index == 1 %>
              <svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_396_723)">
                <path d="M10.8884 10.9113V18.3819C10.8884 18.8702 10.34 19.1643 9.92234 18.901L8.06705 17.7249L6.50005 16.731L4.93229 17.7249L3.077 18.901C2.66014 19.1635 2.11169 18.8702 2.11169 18.3819V10.9113H10.8884Z" fill="#F41943"/>
                <path d="M8.06701 10.9113V17.7249L6.50001 16.7318L4.93225 17.7249V10.9113H8.06701Z" fill="#EBF2F2"/>
                <path d="M10.8884 10.9113V11.8743C10.2852 12.2846 9.29856 12.8434 8.06702 13.139V10.9113H10.8884Z" fill="#C6123D"/>
                <path d="M8.06698 10.9113V13.139C7.54972 13.2635 6.9891 13.3407 6.39653 13.3407C5.87927 13.3407 5.38939 13.2807 4.93298 13.1817V10.912H8.06774L8.06698 10.9113Z" fill="#C3DBDA"/>
                <path d="M4.93229 10.9113V13.181C3.71825 12.9162 2.74002 12.3739 2.11169 11.9449V10.9105H4.93229V10.9113Z" fill="#C6123D"/>
                <path d="M6.5 12.8187C10.0899 12.8187 13 9.94912 13 6.40934C13 2.86956 10.0899 0 6.5 0C2.91015 0 0 2.86956 0 6.40934C0 9.94912 2.91015 12.8187 6.5 12.8187Z" fill="#EBF2F2"/>
                <path d="M6.50001 12.2486C9.77058 12.2486 12.4219 9.63431 12.4219 6.40936C12.4219 3.18441 9.77058 0.570068 6.50001 0.570068C3.22944 0.570068 0.578125 3.18441 0.578125 6.40936C0.578125 9.63431 3.22944 12.2486 6.50001 12.2486Z" fill="#C3DBDA"/>
                <path d="M12.059 6.40936C12.059 9.43214 9.56552 11.8916 6.49999 11.8916C5.63053 11.8916 4.80748 11.6936 4.07418 11.3418C3.30894 10.9743 2.64182 10.4387 2.12152 9.78467C1.88419 9.48614 1.67728 9.16211 1.50613 8.81783C1.14405 8.09102 0.940186 7.27269 0.940186 6.40936C0.940186 5.7688 1.05201 5.1545 1.25739 4.58294C1.87582 2.86078 3.34469 1.53241 5.16271 1.08837C5.59098 0.983362 6.03902 0.927856 6.49999 0.927856C7.52538 0.927856 8.48688 1.20313 9.31222 1.68168C9.68038 1.89545 10.0212 2.14972 10.3292 2.4385C10.9096 2.98305 11.3714 3.64986 11.6711 4.39693C11.9221 5.02023 12.0598 5.69905 12.0598 6.40936H12.059Z" fill="#EBF2F2"/>
                <path d="M9.31222 1.68163L1.50613 8.81704C1.14405 8.09022 0.940186 7.2719 0.940186 6.40857C0.940186 5.76801 1.05201 5.1537 1.25739 4.58215L5.16271 1.08758C5.59098 0.982568 6.03902 0.927063 6.49999 0.927063C7.52538 0.927063 8.48688 1.20234 9.31222 1.68088V1.68163Z" fill="white"/>
                <path d="M11.6711 4.39691L4.07424 11.341C3.309 10.9735 2.64189 10.438 2.12158 9.7839L10.3293 2.43848C10.9097 2.98303 11.3714 3.64984 11.6711 4.39691Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_396_723">
                <rect width="13" height="19" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            <% elsif index == 2 %>
                        <svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_396_756)">
                <path d="M2.11159 10.9113V18.3819C2.11159 18.8702 2.66004 19.1643 3.07765 18.901L4.93295 17.7249L6.49995 16.731L8.06771 17.7249L9.923 18.901C10.3399 19.1635 10.8883 18.8702 10.8883 18.3819V10.9113H2.11159Z" fill="#F41943"/>
                <path d="M4.93299 10.9113V17.7249L6.49999 16.7318L8.06775 17.7249V10.9113H4.93299Z" fill="#EBF2F2"/>
                <path d="M2.11163 10.9113V11.8743C2.71484 12.2846 3.70144 12.8434 4.93298 13.139V10.9113H2.11163Z" fill="#C6123D"/>
                <path d="M4.93302 10.9113V13.139C5.45028 13.2635 6.0109 13.3407 6.60347 13.3407C7.12073 13.3407 7.61061 13.2807 8.06702 13.1817V10.912H4.93226L4.93302 10.9113Z" fill="#C3DBDA"/>
                <path d="M8.06771 10.9113V13.181C9.28175 12.9162 10.26 12.3739 10.8883 11.9449V10.9105H8.06771V10.9113Z" fill="#C6123D"/>
                <path d="M6.5 12.8187C2.91015 12.8187 0 9.94912 0 6.40934C0 2.86956 2.91015 0 6.5 0C10.0899 0 13 2.86956 13 6.40934C13 9.94912 10.0899 12.8187 6.5 12.8187Z" fill="#E37F22"/>
                <path d="M6.49999 12.2486C3.22942 12.2486 0.578106 9.63431 0.578106 6.40936C0.578106 3.18441 3.22942 0.570068 6.49999 0.570068C9.77056 0.570068 12.4219 3.18441 12.4219 6.40936C12.4219 9.63431 9.77056 12.2486 6.49999 12.2486Z" fill="#BA6017"/>
                <path d="M0.940973 6.40936C0.940973 9.43214 3.43448 11.8916 6.50001 11.8916C7.36947 11.8916 8.19252 11.6936 8.92582 11.3418C9.69106 10.9743 10.3582 10.4387 10.8785 9.78467C11.1158 9.48614 11.3227 9.16211 11.4939 8.81783C11.856 8.09102 12.0598 7.27269 12.0598 6.40936C12.0598 5.7688 11.948 5.1545 11.7426 4.58294C11.1242 2.86078 9.65531 1.53241 7.83729 1.08837C7.40902 0.983362 6.96098 0.927856 6.50001 0.927856C5.47462 0.927856 4.51312 1.20313 3.68778 1.68168C3.31962 1.89545 2.97883 2.14972 2.67076 2.4385C2.09036 2.98305 1.62863 3.64986 1.32892 4.39693C1.0779 5.02023 0.940212 5.69905 0.940212 6.40936H0.940973Z" fill="#E37F22"/>
                <path d="M3.68778 1.68163L11.4939 8.81704C11.856 8.09022 12.0598 7.2719 12.0598 6.40857C12.0598 5.76801 11.948 5.1537 11.7426 4.58215L7.83729 1.08758C7.40902 0.982568 6.96098 0.927063 6.50001 0.927063C5.47462 0.927063 4.51312 1.20234 3.68778 1.68088V1.68163Z" fill="#F79A4D"/>
                <path d="M1.32886 4.39691L8.92576 11.341C9.691 10.9735 10.3581 10.438 10.8784 9.7839L2.67069 2.43848C2.0903 2.98303 1.62856 3.64984 1.32886 4.39691Z" fill="#F79A4D"/>
                </g>
                <defs>
                <clipPath id="clip0_396_756">
                <rect width="13" height="19" fill="white" transform="matrix(-1 0 0 1 13 0)"/>
                </clipPath>
                </defs>
              </svg>
            <% end %>
            <%= image_tag("avatars/#{avatar.url}.png") %>
              <div class="pseudo">
                <strong><%= avatar.name.upcase %>&ensp;</strong><%= avatar.score %> POINTS
              </div>
          </div>
        <% end %>

  </div>


  <%# Redirection et bouton retour à l'accueil en fin de partie %>
  <% if params[:question].nil? %>
    <%= link_to "manche suivante", game_path(@game) %>
  <% else %>
    <% if params[:question] == "4" %>
      <%= button_to "Retour à l'accueil", game_path(@game, status: "finished"),method: :patch, class: "button" %>
    <% else %>
      <div data-controller="autolink">
        <%= link_to "manche suivante", game_path(@game, question: params[:question].to_i + 1), data: {autolink_target:"link_two" }, class: "d-none"  %>
      </div>
      <%# <%= link_to "manche suivante", game_path(@game, question: params[:question].to_i + 1) %>
    <% end %>
  <% end %>
<% end %>
