<%# 1/ PARTIE PENDING %>
<%= render "shared/game-navbar" %>

<%= turbo_stream_from "avatars" %>
<%= turbo_stream_from "redirect" %>


<% if @game.status == "pending" %>
  <h1>EN ATTENTE DE JOUEURS....</h1>

<div data-controller="clipboard" data-clipboard-success-content-value="Copié !" style="color: #ffffff;">
  <% if @game.user_id == current_user.id %>
    <h2>LIEN D'INVITATION :</h2>
    <div class="game-link">
      <input class="link" data-clipboard-target="source" type="text" value=<%="www.gotyou.fr/avatars/new?game_id=#{@game.id}"%> readonly>
      <%# <button data-action="click->clipboard#copy">Copy to Clipboard</button> %>
      <button class="btn-clipboard" data-clipboard-target="button" data-action="click->clipboard#copy"><i class="fa-regular fa-copy fa-xl" style="color: #ffffff;"></i></button></div>
    </div>
    <%# <div class="link"><%= link_to "www.gotyou.fr/avatars/new?game_id=#{@game.id}", input_html: {class:"invite-link"}, data: {clipboard_target: "source"}%></div>
  <% end %>
</div>

<%# Affichage des joueurs%>
<%= render "avatars" %>

    <div id="redirect">
    </div>

  <%# Bouton lancer la partie pour owner %>
  <% if @game.user_id == current_user.id %>
      <%= button_to "Lancer la partie", game_path(@game, status: "running"),method: :patch, class: "button"%>
  <% end %>
<% end %>
<%# 2/ PARTIE RUNNING %>
<% if @game.status == "running" %>
<%# Titre "Manche xx" terminée ou partie terminée %>
  <% if params[:question] == "4" %>
  <%# firework %>
  <div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
  </div>
    <h1>PARTIE TERMINÉE</h1>
  <% else %>
    <div class="container">
    <div class="progress progress-striped">
      <div class="progress-bar">
      </div>
    </div>
  </div>
    <h1>MANCHE <%=params[:question].to_i + 1 %> TERMINÉE</h1>
  <% end %>
  <%# Affichage des scores %>
  <%# barre de progression %>


  <div id="container-player-cards">
    <% @array_of_avatars = @avatars.to_a %>
    <% @array_of_avatars << @owner %>
    <% @sorted_array = @array_of_avatars.sort_by { |avatar| - avatar.score }  %>

        <% @sorted_array.each do |avatar| %>
          <div class="player-card <%= avatar.color %>">
            <%= image_tag("avatars/#{avatar.url}.png") %>
              <div class="pseudo">
                <strong><%= avatar.name.upcase %>&ensp;</strong><%= avatar.score %> POINTS
              </div>
          </div>
        <% end %>

  </div>


  <%# Redirection et bouton retour à l'accueil en fin de partie %>
  <% if params[:question].nil? %>
    <%= link_to "manche suivante", game_path(@game) %>
  <% else %>
    <% if params[:question] == "4" %>
      <%= button_to "Retour à l'accueil", game_path(@game, status: "finished"),method: :patch, class: "button" %>
    <% else %>
      <div data-controller="autolink">
        <%= link_to "manche suivante", game_path(@game, question: params[:question].to_i + 1), data: {autolink_target:"link_two" }, class: "d-none"  %>
      </div>
      <%# <%= link_to "manche suivante", game_path(@game, question: params[:question].to_i + 1) %>
    <% end %>
  <% end %>
<% end %>
