<%# Il faudrait rajouter le fait qu'on peut pas accéder à cette page si on ne fait pas partie du game_user de cette game %>
<% if @game.status == "pending" %>
  <H1>EN ATTENTE DE JOUEURS....</H1>


<div data-controller="clipboard" data-clipboard-success-content-value="Copied!">
  <% if @game.user_id == current_user.id %>
    <p>LIEN D'INVITATION</p>
    <div><%= link_to "https://www.gotyou.fr/avatars/new?game_id=#{@game.id}", data: {clipboard_target: "source"}%></div>
    <div><button data-action="clipboard#copy" data-clipboard-target="button">Copier le lien</button></div>
  <% end %>
</div>


  <% @avatar_1 = Avatar.where(user_id: @game.user_id).last%>
  <%= image_tag(@avatar_1.photo) %>
  <%= @avatar_1.name %>

  <% @game.game_users.each do |game_user|%>
    <% @user_id = game_user.user_id %>
    <%@avatar = Avatar.where(user_id: @user_id).last%>
    <%= image_tag(@avatar.photo) %>
    <%= @avatar.name %>
  <% end %>

  <% if @game.user_id == current_user.id %>
    <%= button_to "Lancer la partie", game_path(@game, status: "running"),method: :patch %>
  <% end %>

<% end %>

<% if @game.status == "running" %>
  <% @game.game_users.each do |game_user|%>
    <% @user_id = game_user.user_id %>
    <% @avatar = Avatar.where(user_id: @user_id).last%>
    <%= @avatar.name %>
    <%= @avatar.score %>
  <% end %>

  <br>
  <br>
  <br>
    <% questions = @game.questions %>
    <% questions.each do |question| %>
      <%= question.id %>
      <%= question.reponse %>
      <% @proposals = question.proposals %>
      <ul>
      <% @proposals.each do |proposal| %>
      <li>
        <% proposal.votes.empty? %>
        <%= proposal.proposal%> : <%= proposal.user_id %>
        <% number_of_votes = proposal.votes.count %>
        <%= number_of_votes -1 %>
        <% end %>
      <% end %>
      </li>

      </ul>


<% end %>
