<%# Il faudrait rajouter le fait qu'on peut pas accéder à cette page si on ne fait pas partie du game_user de cette game %>
<% if @game.status == "pending" %>
  <H1>EN ATTENTE DE JOUEURS....</H1>


<div data-controller="clipboard" data-clipboard-success-content-value="Copied!">
  <% if @game.user_id == current_user.id %>
    <p>LIEN D'INVITATION</p>
    <div><%= link_to "https://www.gotyou.fr/avatars/new?game_id=#{@game.id}", data: {clipboard_target: "source"}%></div>
    <div><button data-action="clipboard#copy" data-clipboard-target="button">Copier le lien</button></div>
  <% end %>
</div>


  <% @avatar_1 = Avatar.where(user_id: @game.user_id).last%>
  <%= image_tag("avatars/#{@avatar_1.url}.png") %>
  <%= @avatar_1.name %>

  <% @game.game_users.each do |game_user|%>
    <% @user_id = game_user.user_id %>
    <%@avatar = Avatar.where(user_id: @user_id).last%>
    <%= image_tag("avatars/#{@avatar.url}.png") %>
    <%= @avatar.name %>
  <% end %>

  <% if @game.user_id == current_user.id %>
    <%= button_to "Lancer la partie", game_path(@game, status: "running"),method: :patch %>
  <% end %>

<% end %>

<% if @game.status == "running" %>
  <% @game.game_users.each do |game_user|%>
    <% @user_id = game_user.user_id %>
    <% @avatar = Avatar.where(user_id: @user_id).last%>
    <%= @avatar.name %>
    <%= @avatar.score %>
  <% end %>

  <br>
  <br>
  <br>
    <% questions = @game.questions %>
    <% questions.each do |question| %>
      <ul>
        <li>question : <%= question.id %></li>
        <li>bonne réponse : <%= question.reponse %></li>
        <% @proposals = question.proposals %>
        <li>liste des propositions :</li>
        <% @proposals.each do |proposal| %>
          <%# <% proposal.votes.empty? %>
          <% number_of_votes = proposal.votes.count %>
          <ul>
            <li>"<%= proposal.proposal%>" proposé par User_<%= proposal.user_id %> (<%= Avatar.where(user_id: proposal.user_id).last.name %>) - nombre de votes <%= number_of_votes %> </li>
            <% proposal.votes.each do |vote|%>
              <ul>
                <li>User_<%= vote.user_id %> (<%= Avatar.where(user_id: vote.user_id).last.name %>) a voté pour cette proposition</li>
              </ul>
            <% end %>
          </ul>
        <% end %>
      </ul>
    <% end %>
    <% if params[:question].nil? %>
      <%= link_to "manche suivante", game_path(@game) %>
    <% else %>
      <%= link_to game_path(@game), question: params[:question].to_i + 1 %>
    <% end %>
<% end %>
