<%# Il faudrait rajouter le fait qu'on peut pas accéder à cette page si on ne fait pas partie du game_user de cette game %>
<% if @game.status == "pending" %>
  <H1>EN ATTENTE DE JOUEURS....</H1>


<div data-controller="clipboard" data-clipboard-success-content-value="Copied!">
  <% if @game.user_id == current_user.id %>
    <p>LIEN D'INVITATION</p>
    <div><%= link_to "https://www.gotyou.fr/avatars/new?game_id=#{@game.id}", data: {clipboard_target: "source"}%></div>
    <div><button data-action="clipboard#copy" data-clipboard-target="button">Copier le lien</button></div>
  <% end %>
</div>

  <%= @owner.name %>
  <%= image_tag("avatars/#{@owner.url}.png") %>

  <% @avatars.each do |avatar| %>
    <%= avatar.name %>
    <%= image_tag("avatars/#{avatar.url}.png") %>
  <% end %>

  <% if @game.user_id == current_user.id %>
    <%= button_to "Lancer la partie", game_path(@game, status: "running"),method: :patch %>
  <% end %>

<% end %>

<% if @game.status == "running" %>
<% raise %>

<% @avatars.each do |avatar| %>
  <% @proposals.each do |proposal| %>
    <% if proposal.user_id == avatar.user_id %>
    <%avatar.score += proposal.votes.count * 2 %>
    <% end %>
  <% end %>
  <li>  <%= avatar.name %> : <%= avatar.score %> points</li>
<% end %>
  <li><%= @owner.name %> : <%= @owner.score %> points</li>
<br>
<br>
  <br>
  <% vote= [] %>
  <%  %>
    <% questions = @game.questions %>
    <% questions.each do |question| %>
      <%= question.votes %>
    <% end %>

    <% if params[:question].nil? %>
      <%= link_to "manche suivante", game_path(@game) %>
    <% else %>
      <%= link_to "manche suivante", game_path(@game), question: params[:question].to_i + 1 %>
    <% end %>
<% end %>
