

<%# Il faudrait rajouter le fait qu'on peut pas accéder à cette page si on ne fait pas partie du game_user de cette game %>
<% if @game.status == "pending" %>
  <H1>EN ATTENTE DE JOUEURS....</H1>

<div data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
  <% if @game.user_id == current_user.id %>
    <p>LIEN D'INVITATION</p>
    <div><%= link_to "https://www.gotyou.fr/avatars/new?game_id=#{@game.id}"%></div>
    <div><button data-action="click->clipboard#copy">Copier le lien</button></div>
  <% end %>
</div>


  <% @avatar_1 = Avatar.where(user_id: @game.user_id).last%>
  <%= @avatar_1.url %>
  <%= @avatar_1.name %>

  <% @game.game_users.each do |game_user|%>
    <% @user_id = game_user.user_id %>
    <%@avatar = Avatar.where(user_id: @user_id).last%>
    <%= @avatar.url %>
    <%= @avatar.name %>
  <% end %>

  <% if @game.user_id == current_user.id %>
    <%# comment faire pour que le link to edit et update le status de la partie à running %>
    <%= link_to "Lancer la partie", edit_game_path(@game) %>
  <% end %>

<% end %>
