<h2>SE CONNECTER</h2>
<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { class:"user-inputg", placeholder:"ton email",autocomplete: "email" }  %>
                <br>
    <%= f.input :password,
                required: false,
                input_html: { class:"user-input", placeholder:"ton mot de passe", autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Se connecter", class: "button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
