<%# # en tant qu'utilisateur je peux voir la question %>
<%= render "shared/game-navbar-proposal" %>
<%= turbo_stream_from "redirect" %>


<div class = "container">
    <h1>INVENTE UNE RÉPONSE À LA QUESTION</h1>
    <div class= "question-card">
      <h3>Question <%= @game.questions.index(@question) + 1 %></h3>
      <p><%= @question.question %></p>
    </div>

  <%# # donner ma réponse à la question %>
  <div data-controller="disable-button">
    <%= simple_form_for([@game, @question, @proposal]) do |f| %>
    <div data-disable-button-target="form">
      <%= f.input :proposal, input_html: { class: "user-input",placeholder:"Ta super proposition" } %>
      <div data-disable-button-target="proposalBtn">
      <%=f.button :submit, "Valider ma proposition", class: "button", data: {action:"click->disable-button#replace"}%>
      </div>
    <% end %>
    </div>
    <p class="waiting" data-disable-button-target="paragraph"></p>
  </div>

    <div id="redirect"></div>
    </div>

</div>
